PORT=3000

# Database
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=password
DB_DATABASE=lms_db

# JWT Auth
JWT_SECRET=supersecret_change_me_in_production
JWT_EXPIRES_IN=1d

# SMTP Mail (Gmail/Gmail App Password)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password
SMTP_FROM='"TalentFlow LMS" <noreply@trueminds.io>'
